<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
        background:red;
        color:yellow;
        }
    </style>
</head>
<body>
<h1>Consuming Third party APIs Demo</h1>
<h2>Your Geographic Information</h2>
<h3>Your Ip Address:{{data.ip}}</h3>
<h3>Your Continent Name:{{data.continent_name}}</h3>
<h3>Your Country Name:{{data.country_name}}</h3>
<h3>Your Region Name:{{data.region_name}}</h3>
<h3>Your City:{{data.city}}</h3>
<h3>Your Zip:{{data.zip}}</h3>
<h3>Your Latitude:{{data.latitude}}</h3>
<h3>Your Longitude:{{data.longitude}}</h3>
</body>
</html>